@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.schriftzug-webmastergram {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  color: #7c2944;
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 8px #e0cfd4;
}
